* {
  margin: 0;
  padding: 0;
}

$first-color: #272727;
$second-color: #71C562;

body {
  background: $first-color;
  color: set-text-color($first-color);
  // height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1 {
  font-weight: 700;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-xs {
  @media screen and (max-width: 576px) {
    @content
  }
}

.page-links {
  color: set-text-color($first-color);
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  @include transition-ease;

  &:hover {
    color: $second-color
  }
}

// main {
//   height: 100%;
//   width: 100%;

//   .social-icons {
//     position: fixed;
//     bottom: 1rem;
//     left: 1rem;

//     a {
//       padding: 0.4rem;
//       @include transition-ease;

//       &:hover {
//         color: $second-color;
//       }
//     }
//   }
// }